.custom-button {
  align-items: center;
  appearance: none;
  background: $bg-light-1;
  border: none;
  border-radius: $radius-1;
  box-shadow: 0 10px 15px -3px #0000001a, 0 4px 6px -2px #0000000d;
  color: $bg-dark-3;
  cursor: pointer;
  display: flex;
  font-size: 16px;
  font-weight: bold;
  justify-content: space-around;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  transition: all .4s;
  width: 100px;


  a {
    appearance: none;
    color: $bg-dark-3;
  }

  &:hover {
    background: $bg-dark-3;
    color: $bg-light-1;

    a {
      color: $bg-light-1;
    }
  }
}