.custom-table {
  border-collapse: collapse;
  width: 100%;
  
  th {
    background-color: $bg-dark-2;
    color: $bg-light-1;
    font-weight: bold;
    padding: 10px;
    text-align: left;
  }
  
  td {
    border-bottom: 1px solid $bg-light-2;
    padding: 10px;
  }
  
  tr {
    transition: background-color 0.3s ease;

    &:hover {
      background-color: $bg-light-1;
      color: $bg-dark-1;
      cursor: pointer;
    }
  }

  .skeleton-row {
    height: 24px;
    
    td {
      background-color: transparent;
      margin: 4px;

      &::after {
        animation: skeleton-loading 1s linear infinite alternate;
        content: '';
        display: block;
        height: 16px;
        width: 100%;
      }
    }
  }
}

@keyframes skeleton-loading {
  0% {
    background-color: #c2cfd6;
  }

  100% {
    background-color: #f0f3f5;
  }
}